/* Starry background */
#starsCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Section background colors */
.soul-bg { background: linear-gradient(45deg, #ff8000, #ff5500); }
.power-bg { background: linear-gradient(45deg, #800080, #9900ff); }
.space-bg { background: linear-gradient(45deg, #0011ff, #00aaff); }
.mind-bg { background: linear-gradient(45deg, #ffff00, #ffcc00); }
.time-bg { background: linear-gradient(45deg, #00ff00, #33cc33); }

section {
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
    color: white;
}
